#media-preview-div {
    display: none;
    position: fixed;
    /* padding: 20px;
    border: solid grey 1px;
    border-radius: 15px; */
}

#media-preview-div img {
    max-width: 256px;
    height: auto;
}